@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Young+Serif&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-image: url("./hoseb2.png");
    background-size: 130px;
}

header {
    background: rgb(232, 100, 5);
    border-bottom: 5px solid black;
    color: #ececec;
    padding: 0.5rem 15%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

header img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

h1 {
    font-family: "Bungee Outline";
}

h2 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    font-family: monospace;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

img {
    width: 200px;
    border: solid 5px orange;
}

section label {
    height: 60px;
}

button {
    height: 40px;
    width: 150px;
}

div {
    text-align: center;
}

.in-stock {
  background-color: white;
  color: green;
}

/* Style for "Out Of Stock" */
.out-stock {
  background-color: gray;
  color: red;
}

#stock {
    position: absolute;
}

form input,
form label,
form textarea {
  box-sizing: border-box;
  display: block;
  margin: 5px 0;
  width: 100%;
}